* {
  margin: 0px;
  font-family: 'Caladea', serif;
  box-sizing: border-box;
}

.menuu {
  background-color: #d3d3d3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menuu a {
  padding: 15px;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #808080;
  font-size: 20px;
}

.menuu a:hover {
  background-color: #ddd;
}

.menuu a.active {
  background-color: #808080;
  color: #d3d3d3;
}

.containerr {
  position: relative;
  width: 100%;
}

.imagee {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.overlayy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ddd;
}

.containerr:hover .overlayy {
  opacity: 0.75;
}

.textt {
  color: #808080;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

body {
  background-image: url('IMG/image0.jpg');
  background-attachment:fixed;
}

.titlee {
  text-align: center;
  text-shadow: 3px 3px 5px #808080;
  color: #ddd;
  font-size: 75px;
}
